*{
    box-sizing: border-box;
}

main{
    background-color: #eeeeee;
    margin: 2em 0;
    border-radius: 0.5rem;
    padding: 0rem 0rem 1rem 0rem
}

#top-section{
    text-align: center;
    padding: 0.5rem;
}

#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

#img-caption{
    text-align: center;
    padding: 0 1rem;
    margin: 1rem 0rem;
}

#middle-section{
    text-align: center;
}

#tribute-info{
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}